<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mankoff's Contacts</title>
</head>
<body>
Mankoff's Contacts:<br>
<br>
country: Russia<br>
city: Moscow<br>
Andropov avenue, 18, building 1<br>
<br>
Private clients:<br>
Telephone 1: 8 800 250-0-520 (if you call outside all Russian cities)<br>
Telephone 2: +7 495 777-000-1 (if you call outside Moscow region)<br>
<br>
Business clients:<br>
Telephone: 8 800 250-0-199<br>
<br>
All phone numbers are toll free!<br>
</body>
</html>