<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Информация о банке</title>
    <style>
        h {
            color : white;
            font-family: "Times New Roman";
            font-size: 300%;
            font-style: normal;
        }
        p {
            color : black;
            font-family: "Times New Roman";
            font-size: 100%;
        }
        body {
            background-image: url("https://cdn.bcs-express.ru/article-head/6564.png");
        }
    </style>
</head>
<body>
<div style="text-align: center;">
    <h th:text="${header}">

    </h>
</div>
    <p th:text="${about}"></p>
</body>
</html>