<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> PaymentId </th>
        <th> MCCCode </th>
        <th> Amount </th>
        <th> TimeStamp </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${payments.empty}">
        <td colspan="2"> No Payments Available </td>
    </tr>
    <tr th:each="payment : ${payments}">
        <td><span th:text="${payment.userId}"> UserId </span></td>
        <td><span th:text="${payment.mccCode}"> MCCCode </span></td>
        <td><span th:text="${payment.amount}"> Amount </span></td>
        <td><span th:text="${payment.timeStamp}"> TimeStamp </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>